/* Fonte, versões: regular, bold, regular-italic e bold-italic */
.andika-regular {
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.andika-bold {
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.andika-regular-italic {
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.andika-bold-italic {
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-style: italic;
}

#topbar { 
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  align-content: center;
  background-color: rgb(51, 197, 88);
  color: hsl(70, 50%, 90%);
  font-size: 32px;
  text-align: left;
  margin-top: -10px;
  margin-left: -10px;
}
.banana {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

/* Define as características do layout */
main { /* Separa o layout da pagina em um grid de duas colunas */
  display: grid; 
  grid-template-columns: 2fr 5fr;
}
#itens{ /* Organiza os itens em um display grid de três colunas */
  background-color: hsl(70, 50%, 90%);
  display: grid;
  margin-top: 5px;
  border-radius: 10px;
  grid-template-columns: 1fr 1fr 1fr;
} 

/* Define as características dos itens da lista */
figure { /* Centraliza o título e preço dos jogos */
  text-align: center;
  font-weight: 900;
  font-size: 24px;
}
img { /* Define as características das imagens dos jogos */
  width: 300px;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
}

#comanda{ /* Define as características da comanda */
  background-color: hsl(130, 80%, 80%);
  color: hsl(70, 50%, 10%);
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 0px;
  left: 0px;
  height: 50%;
}
hr{
  border: 2px solid hsl(10, 80%, 20%);
  border-radius: 5px;
}
.comprar {
  color: hsl(130, 80%, 20%);
  background-color: hsl(195, 57%, 67%, 0%);
  width: 140px;
  height: 60px;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid hsl(130, 80%, 20%);
  position: absolute;
  bottom: 0px;
  margin: 10px;
}
.comprar:hover {
  color: hsl(70, 50%, 90%);
  background-color: hsl(130, 80%, 20%);
}
#itens input{
  background-color: hsl(130, 80%, 20%);
  padding: 5px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 5px black;
  color: hsl(70, 50%, 90%);
  font-weight: 900;
  width: 120px;
}
input:hover {
  cursor: pointer;
}
input[type="button"]:active {
  transform: translateY(4px);
  box-shadow: none;
}

:root {
        --color-primary: hsl(70, 50%, 90%);
        --color-secondary: hsl(70, 50%, 10%);
        --color-tertiary: hsl(130, 80%, 20%);
        --color-accent: hsl(10, 80%, 20%);
    }
.dark {
        --color-primary: hsl(70, 50%, 10%);
        --color-secondary: hsl(70, 50%, 90%);
        --color-tertiary: hsl(130, 80%, 80%);
        --color-accent: hsl(10, 80%, 80%);
    }
    /* body{
        background-color: hsl(130, 80%, 80%);;
    } */
     table{
        border: 1px solid hsl(10, 80%, 20%);
        color: hsl(130, 80%, 20%);
    }
    